@font-face {
    font-family: 'MarkPro';
    src:  url('./assets/fonts/Mark Pro.ttf');
    src:  url('./assets/fonts/Mark Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }